<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Tiare</title>
    
    <!--Material css-->
    <link rel="stylesheet" href="/styles/styleIndex.css">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;1,400&display=swap" rel="stylesheet">

    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/0cb7eac916.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <div class="cabeza-footer"></div>
        <!--imagen, logo de la empresa-->
        
            <div class="cajaNav">
                <a href="/"><img src="/image/logo1.jpeg" alt="Logo de Tiare" width="40%">
                </a>
            </div> 
            <!--barra de navegacion que enlaza a diferentes paginas-->
        <nav>
            <ul>
                <li>
                    <a href="#">INICIO</a>
                </li>
                <li>
                    <a href="#">
                    COLECCIÓN 
                    <i class="fas fa-arrow-down"></i>
                    </a>
                </li>
                <li>
                    <a href="#">NEW IN</a>
                </li>
                <li>    
                    <a href="#">
                        CONTACTO
                    </a>
                </li>
            
            
                <li>
                    <a href="">
                    <i class="fas fa-search"></i></a>
                
                </li>
                <li>
                    <a href="/productCart">
                    <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
                <li>
                    <a href="/login">
                    <i class="far fa-user"></i>
                    </a>
                </li>
            </ul>
        </nav>     
    
    </header>
    <main>
<img src="/image/baner.jpeg" alt="" width="100%" >
<!-- <div class="form" action="#" method="GET">
    <input type="search" name="busquedas" size="30"  placeholder="Busca productos, marcas y más...">

        <input type="submit" value="Buscar">
</div>  -->
<h2 class="titulo-productos">NUESTROS PRODUCTOS</h2>
    <section class="secciones-articulos">
        <article>
            <div class="articulos">
                <div class="foto-producto">
                    <a href= "/productDetail"> 
                        <img src="/image/camisa1_1.jpeg" alt="Foto-Producto" class="foto-producto">
                    </a>
                </div>
                <div class="descripciones">
                    <p>CAMISA SUIZA</p>
                </div>
                <div class="precios">
                    <p>$2.500</p>
                </div>
                <div class="loQuiero">
                    <a href="/productDetail">LO QUIERO!</a>
                </div>
            </div>
        </article>

        <!--BOTON DE WHATSAPP-->
        <button class="button-whatsapp" >
            <img src="/image/whatsapp.png" alt="whatsapp" class="whatsapp">
        </button>

        <article>
            <div class="articulos">
                <div class="foto-producto">
                    <a href="/productDetail">
                        <img src="/image/foto3.jpeg" alt="Foto-Producto" class="foto-producto" >
                    </a>
                </div>
                <div class="descripciones">
                    <p>SWEATER PARIS</p>
                </div>
                <div class="precios">
                    <p>$3.500</p>
                </div>
                <div class="loQuiero">
                    <a href="/productDetail">LO QUIERO!</a>
                </div>
            </div>
        </article>
        <article>
                <div class="articulos">
                    <div class="foto-producto">
                        <a href="/productDetail">
                            <img src="/image/foto2.jpeg" alt="Foto-Producto" class="foto-producto" >
                        </a>
                    </div>
                    <div class="descripciones">
                        <p>BUZO FRANCIA</p>
                    </div>
                    <div class="precios">
                        <p>$3.800</p>
                    </div>
                    <div class="loQuiero">
                        <a href="/productDetail">LO QUIERO!</a>
                    </div>
                </div>
        </article>
        <article>
                <div class="articulos">
                    <div class="foto-producto">
                        <a href="/productDetail">
                            <img src="/image/foto1.jpeg" alt="Foto-Producto" class="foto-producto" >
                        </a>
                    </div>
                    <div class="descripciones">
                        <p>BLUSA ESPAÑA</p>
                    </div>
                    <div class="precios">
                        <p>$2.900</p>
                    </div>
                    <div class="loQuiero">
                        <a href="/productDetail">LO QUIERO!</a>
                    </div>
                </div>
        </article>
        <article>
                <div class="articulos">
                    <div class="foto-producto">
                        <a href="/productDetail">
                            <img src="/image/foto5.jpeg" alt="Foto-Producto" class="foto-producto" >
                        </a>
                    </div>
                    <div class="descripciones">
                        <p>SWEATER MADRID</p>
                    </div>
                    <div class="precios">
                        <p>$4.500</p>
                    </div>
                    <div class="loQuiero">
                        <a href="/productDetail">LO QUIERO!</a>
                    </div>
                </div>
        </article>
        <button class="ver-mas"> MAS PRODUCTOS  <i class="fas fa-arrow-down"></i></button>
    </section>
    
</main>
<footer> 
    <div>
        <p>
            <i class="fas fa-truck-moving"></i>
            <br>
            ENVIOS <br>
            Envios a todo el pais
        </p>
    </div>
    <div class="cabeza-footer"></div>
</footer>
</body>
</html>