<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Tiare</title>

<!--Material css-->
<link rel="stylesheet" href="/styles/styleIndex.css">

<!--Fonts-->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;1,400&display=swap" rel="stylesheet">

<!--Fontawesome-->
<script src="https://kit.fontawesome.com/0cb7eac916.js" crossorigin="anonymous"></script>

</head>
<body>
<header>
    <div class="cabeza-footer"></div>
    <!--imagen, logo de la empresa-->
    
        <div class="cajaNav">
            <a href="/"><img src="/image/logo-letra-negra.png" alt="Logo de Tiare" width="40%">
            </a>
        </div> 
        <!--barra de navegacion que enlaza a diferentes paginas-->
    <nav>
        <ul>
            <li>
                <a href="/">INICIO</a>
            </li>
            <li>
                <a href="#">
                COLECCIÓN 
                <i class="fas fa-arrow-down"></i>
                </a>
            </li>
            <li>
                <a href="#">NEW IN</a>
            </li>
            <li>    
                <a href="#">
                    CONTACTO
                </a>
            </li>
        
        
            <li>
                <a href="">
                <i class="fas fa-search"></i></a>
            
            </li>
            <li>
                <a href="/productCart">
                <i class="fas fa-shopping-cart"></i>
                </a>
            </li>
            <li>
                <a href="/login">
                <i class="far fa-user"></i>
                </a>
            </li>
        </ul>
    </nav>     

</header>
<main>
<img src="/image/carrusel1.png" alt="" width="100%" >
<!-- <div class="form" action="#" method="GET">
<input type="search" name="busquedas" size="30"  placeholder="Busca productos, marcas y más...">

    <input type="submit" value="Buscar">
</div>  -->
<h2 class="titulo-productos">NUESTROS PRODUCTOS</h2>
<section class="secciones-articulos">
    <article class="articulos-linea1">
        <div class="articulos-index">
            <div class="foto-producto">
                <a href= "/productDetail"> 
                    <img src="/image/camisa1_1.jpeg" alt="Foto-Producto" class="foto-producto">
                </a>
            </div>
            <div class="descripciones">
                <p>CAMISA SUIZA</p>
            </div>
            <div class="precios">
                <p>$2.500</p>
            </div>
            <div class="loQuiero">
                <a href="/productDetail">LO QUIERO!</a>
            </div>
        </div>
    
        <div class="articulos-index">
            <div class="foto-producto">
                <a href="/productDetail">
                    <img src="/image/sweater1_1.jpeg" alt="Foto-Producto" class="foto-producto" >
                </a>
            </div>
            <div class="descripciones">
                <p>SWEATER PARIS</p>
            </div>
            <div class="precios">
                <p>$3.500</p>
            </div>
            <div class="loQuiero">
                <a href="/productDetail">LO QUIERO!</a>
            </div>
        </div>
    </article>
    <article class="articulos-linea2">
            <div class="articulos-index">
                <div class="foto-producto">
                    <a href="/productDetail">
                        <img src="/image/buzo1_1.jpeg" alt="Foto-Producto" class="foto-producto" >
                    </a>
                </div>
                <div class="descripciones">
                    <p>BUZO FRANCIA</p>
                </div>
                <div class="precios">
                    <p>$3.800</p>
                </div>
                <div class="loQuiero">
                    <a href="/productDetail">LO QUIERO!</a>
                </div>
            </div>

        <div class="articulos-index">
            <div class="foto-producto">
                <a href="/productDetail">
                    <img src="/image/blusa1_1.jpeg" alt="Foto-Producto" class="foto-producto" >
                    </a>
                </div>
                <div class="descripciones">
                    <p>BLUSA ESPAÑA</p>
                </div>
                <div class="precios">
                    <p>$2.900</p>
                </div>
                <div class="loQuiero">
                    <a href="/productDetail">LO QUIERO!</a>
                </div>
            </div>
        </article>
        <article class="articulos-linea3">
            <div class="articulos-index">
                <div class="foto-producto">
                    <a href="/productDetail">
                        <img src="/image/sweater2_1.jpeg" alt="Foto-Producto" class="foto-producto" >
                    </a>
                </div>
                <div class="descripciones">
                    <p>SWEATER MADRID</p>
                </div>
                <div class="precios">
                    <p>$4.500</p>
                </div>
                <div class="loQuiero">
                    <a href="/productDetail">LO QUIERO!</a>
                </div>
            </div>
        
            <div class="articulos-index">
                <div class="foto-producto">
                    <a href="/productDetail">
                        <img src="/image/pantalon1_1.jpeg" alt="Foto-Producto" class="foto-producto" >
                    </a>
                </div>
                <div class="descripciones">
                    <p>PANTALON VIENA</p>
                </div>
                <div class="precios">
                    <p>$4.000</p>
                </div>
                <div class="loQuiero">
                    <a href="/productDetail">LO QUIERO!</a>
                </div>
            </div>
        </article>
    <!-- <button class="ver-mas"> MAS PRODUCTOS  <i class="fas fa-arrow-down"></i></button> -->
</section>

<!--BOTON DE WHATSAPP-->
<button class="button-whatsapp" >
    <a href="https://api.whatsapp.com/send?phone=+54 353 481 3541">
        <img src="/image/whatsapp.png" alt="whatsapp" class="whatsapp">
    </a>
</button>

</main>
<footer> 
    <div class="caja-footer">
    <section class="iconos-footer">
        
            <div class="ico-countain">
                <i class="fas fa-truck-moving"></i>
            </div>    
            <h4>ENVÍOS</h4> 
                    <p> Envios a todo el pais</p>
            
    </section>

    <section class="iconos-footer">

            <div class="ico-countain">
                <i class="fas fa-shopping-basket"></i>
            </div> 
                    <h4>COMPRA MÍNIMA</h4> 
                    <p> $3000</p>
            
    </section>

    <section class="iconos-footer"> 

            <div class="ico-countain">
                <i class="fas fa-book"></i>
            </div> 
                    <h4>CÓMO COMPRAR</h4> 
                    <p>Lee nuestras preguntas mas frecuentes</p>
            
    </section>

    <section class="iconos-footer"> 

            <div class="ico-countain">
                <i class="fas fa-exchange-alt"></i>
            </div>
                    <h4>CAMBIOS</h4> 
                    <p>Dentro de los 30 dias de tu COMPRA</p>
            
    </section>
</div>
<div class="caja-contactos-redes-preguntas">
    <section>
        <h2><a href="#">CONTACTOS</a> </h2>
        <p class="email"><a href="https://mail.google.com/mail/u/0/#inbox?compose=new">hola@tiare.com.ar </a></p>
        <p>0353-4813541</p>
    </section>
    <section>
    <h2 class="titulos-contactos-redes-preguntas">SEGUINOS</h2>
    
        <a href="https://www.facebook.com/"><img src="/image/facebook.png" alt="facebook" class="imagenes-redes-sociales"></a>
        <a href="https://www.instagram.com/?hl=es"><img src="/image/instagram.png" alt="instagram" class="imagenes-redes-sociales"></a>
        <a href="https://twitter.com/"><img src="/image/twitter.png" alt="twitter" class="imagenes-redes-sociales"></a>
    </section>
    <section>
        <h2><a href="/">INICIO</a></h2>
        <p>Preguntas frecuentes</p>
        <p>Políticas de devolucíon</p>
        <p><a href="#">Productos</a></p>
    </section>
</div>

<div class="cabeza-footer">
    <p class="derechos-reservados">Todos los derechos reservados, desarrollado por Grupo_2_Tiare</p>
</div>
</footer>
</body>
</html>