<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Tiare</title>
    
    <!--Material css-->
    <link rel="stylesheet" href="/styles/styleIndex.css">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;1,400&display=swap" rel="stylesheet">

    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/0cb7eac916.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <div class="cabeza-footer"></div>
        <!--imagen, logo de la empresa-->
        
            <div class="cajaNav">
                <a href="/"><img src="/image/logo-letra-negra.png" alt="Logo de Tiare" width="40%">
                </a>
            </div> 
            <!--barra de navegacion que enlaza a diferentes paginas-->
        <nav>
            <ul>
                <li>
                    <a href="/">INICIO</a>
                </li>
                <li>
                    <a href="#">
                    COLECCIÓN 
                    <i class="fas fa-arrow-down"></i>
                    </a>
                </li>
                <li>
                    <a href="#">NEW IN</a>
                </li>
                <li>    
                    <a href="#">
                        CONTACTO
                    </a>
                </li>
            
            
                <li>
                    <a href="">
                    <i class="fas fa-search"></i></a>
                
                </li>
                <li>
                    <a href="/productCart">
                    <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
                <li>
                    <a href="/login">
                    <i class="far fa-user"></i>
                    </a>
                </li>
            </ul>
        </nav>     
    
    </header>

<main class="carrito">

    <h2> Tu carrito de compras :</h2>
    <div class="titulos-carrito">
    <p>Producto</p>
    <p>Subtotal</p>
    </div>

    
     <div class="prendas">
        <img src="image/camisa1_1.jpeg" alt="prenda" class="camisaimagen">
        <P class="titulos-carrito"> CAMISA SUIZA <br>
            COLOR: BLANCO <br>
            TALLE: UNO, UNICO DISPONIBLE <br>
        </P>
        <p class="precio-carrito">
            $ 2.500
        </p>
        </div>



        <div class="icono-papelera"> 
            <i class="far fa-trash-alt"></i> 
            <form action="#" method="POST"></form>
        </div>
        <div class="cantidad-subtotal">
            <label for="subtotal">CANTIDAD</label>
            <input type="number" name="cantidad" id="subtotal" class="barrita1">
        </div>

        <div class="cantidad-subtotal">
            <label for="subtotal">SUBTOTAL</label>
            <input type="number" name="subtotal" id="subtotal" class="barrita"> 
        </div>
        <div class="cantidad-subtotal">
            <label for="total">TOTAL</label>
            <input type="number" name="total" id="total" class="barrita">
        </div>

        <div class="iniciar-compra">
            <p> INICIAR COMPRA </p>
        </div>
        <div class="mas-productos">
            <p> Ver más prdocutos</p>
        </div>

    </div>


</main>
  