<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Tiare</title>
    
    <!--Material css-->
    <link rel="stylesheet" href="/styles/styleIndex.css">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;1,400&display=swap" rel="stylesheet">

    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/0cb7eac916.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <div class="cabeza-footer"></div>
        <!--imagen, logo de la empresa-->
        
            <div class="cajaNav">
                <a href="/"><img src="/image/logo-fondo-gris.png" alt="Logo de Tiare" width="40%">
                </a>
            </div> 
            <!--barra de navegacion que enlaza a diferentes paginas-->
        <nav>
            <ul>
                <li>
                    <a href="/">INICIO</a>
                </li>
                <li>
                    <a href="#">
                    COLECCIÓN 
                    <i class="fas fa-arrow-down"></i>
                    </a>
                </li>
                <li>
                    <a href="#">NEW IN</a>
                </li>
                <li>    
                    <a href="#">
                        CONTACTO
                    </a>
                </li>
            
            
                <li>
                    <a href="">
                    <i class="fas fa-search"></i></a>
                
                </li>
                <li>
                    <a href="/productCart">
                    <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
                <li>
                    <a href="/login">
                    <i class="far fa-user"></i>
                    </a>
                </li>
            </ul>
        </nav>     
    
    </header>
    <main>
        <section class="imagenes-y-eleccion">
            <div class="imagenes-producto">
                <div class="imagen-producto-principal">
                    <h2>CAMISA SUIZA</h2>
                    <img src="/image/camisa1_1.jpeg" alt="camisa blanca" width=80%>
                </div>
                <div class="imagenes-chicas">
                    <div>
                        <img src="/image/camisa1_1.jpeg" alt="camisa blanca" width=100%>
                    </div>
                    <div>
                        <img src="/image/camisa1_2.jpeg" alt="camisa natural">
                    </div>
                    <div>
                        <img src="/image/camisa1_3.jpeg" alt="camisa negra">
                    </div>
                    <div>
                        <img src="/image/camisa1_4.jpeg" alt="camisa suela">
                    </div>
                </div>
            </div>
            <div class="div-eleccion-producto">
                <form class="eleccion-producto">
                    <p>CAMISA SUIZA<br><br>$ 2.500</p>
                    <fieldset>
                        <legend>Elige un color</legend>
                        <label>
                            <input type="radio" name="color" value="Blanco" class="color">Blanco
                        </label>
                        <label>
                            <input type="radio" name="color" value="Natural" class="color">Natural
                        </label>
                        <label>
                            <input type="radio" name="color" value="Negro" class="color">Negro
                        </label>
                        <label>
                            <input type="radio" name="color" value="Suela" class="color">Suela
                        </label>
                    </fieldset>
                    <fieldset>
                        <legend>Elige un talle</legend>
                        <label>
                            <input type="radio" name="talle" value="1"> 1
                        </label>
                        <label>
                            <input type="radio" name="talle" value="2"> 2
                        </label>
                    </fieldset>
                    <div class="agregar-carrito">
                        <button type="submit" class="agregar-carrito">Agregar al carrito</button>
                    </div>
                    
                    <div class="descripcion-del-producto">
                <p>Descripción:</p>
                <p>Camisa manga larga.<br>
                    Tela: Mezcla, 70% Rayón, 30% poliéster.
                </p>
            </div>
                </form>
            </div>
        </section>
        <section class="medidas">
            <table  name="tabla-de-medidas">
                <tr>
                    <th>MEDIDAS</th>
                    <th>TALLE 1</th>
                    <th>TALLE 2</th>
                </tr>
                    <td>Ancho de hombros</td>
                    <td>13.5 cm</td>
                    <td>15.5 cm</td>
                <tr>
                    <td>Contorno</td>
                    <td>100 cm</td>
                    <td>104 cm</td>
                    
                </tr>

                <tr>
                    <td>Largo de manga</td>
                    <td>64 cm</td>
                    <td>66 cm</td>
                </tr>

                <tr>
                    <td>Largo total</td>
                    <td>70 cm</td>
                    <td>74 cm</td>
                
                </tr>
            </table>
        </section>
        <section class="basado-en-tu-compra">
            <h2 class="sugerencias-de-compra">También puede interesarte...</h2>
            <div class="productos-sugeridos">
                <article>
                    <div class="articulos">
                        <div class="foto-producto">
                            <a href="/productDetail">
                                <img src="/image/sweater1_1.jpeg" alt="Foto-Producto" class="foto-producto" >
                            </a>
                        </div>
                        <div class="descripciones">
                            <p>SWEATER PARIS</p>
                        </div>
                        <div class="precios">
                            <p>$3.500</p>
                        </div>
                        <div class="loQuiero">
                            <a href="/productDetail">LO QUIERO!</a>
                        </div>
                    </div>
                </article>
                <article>
                        <div class="articulos">
                            <div class="foto-producto">
                                <a href="/productDetail">
                                    <img src="/image/buzo1_1.jpeg" alt="Foto-Producto" class="foto-producto" >
                                </a>
                            </div>
                            <div class="descripciones">
                                <p>BUZO FRANCIA</p>
                            </div>
                            <div class="precios">
                                <p>$3.800</p>
                            </div>
                            <div class="loQuiero">
                                <a href="/productDetail">LO QUIERO!</a>
                            </div>
                        </div>
                </article>
                <article>
                        <div class="articulos">
                            <div class="foto-producto">
                                <a href="/productDetail">
                                    <img src="/image/blusa1_1.jpeg" alt="Foto-Producto" class="foto-producto" >
                                </a>
                            </div>
                            <div class="descripciones">
                                <p>BLUSA ESPAÑA</p>
                            </div>
                            <div class="precios">
                                <p>$2.900</p>
                            </div>
                            <div class="loQuiero">
                                <a href="/productDetail">LO QUIERO!</a>
                            </div>
                        </div>
                </article>
                <article>
                        <div class="articulos">
                            <div class="foto-producto">
                                <a href="/productDetail">
                                    <img src="/image/sweater2_1.jpeg" alt="Foto-Producto" class="foto-producto" >
                                </a>
                            </div>
                            <div class="descripciones">
                                <p>SWEATER MADRID</p>
                            </div>
                            <div class="precios">
                                <p>$4.500</p>
                            </div>
                            <div class="loQuiero">
                                <a href="/productDetail">LO QUIERO!</a>
                            </div>
                        </div>
                </article>
            </div>
        </section>
    </main>