<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Tiare</title>
    
    <!--Material css-->
    <link rel="stylesheet" href="/styles/styleIndex.css">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;1,400&display=swap" rel="stylesheet">

    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/0cb7eac916.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <div class="cabeza-footer"></div>
        <!--imagen, logo de la empresa-->
        
            <div class="cajaNav">
                <a href="/"><img src="/image/logo1.jpeg" alt="Logo de Tiare" width="40%">
                </a>
            </div> 
            <!--barra de navegacion que enlaza a diferentes paginas-->
        <nav>
            <ul>
                <li>
                    <a href="/">INICIO</a>
                </li>
                <li>
                    <a href="#">
                    COLECCIÓN 
                    <i class="fas fa-arrow-down"></i>
                    </a>
                </li>
                <li>
                    <a href="#">NEW IN</a>
                </li>
                <li>    
                    <a href="#">
                        CONTACTO
                    </a>
                </li>
            
            
                <li>
                    <a href="">
                    <i class="fas fa-search"></i></a>
                
                </li>
                <li>
                    <a href="/productCart">
                    <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
                <li>
                    <a href="/login">
                    <i class="far fa-user"></i>
                    </a>
                </li>
            </ul>
        </nav>     
    
    </header>
    <main>
        <section class="imagenes-y-eleccion">
            <div class="imagenes-producto">
                <div class="imagen-producto-principal">
                    <h2>CAMISA SUIZA</h2>
                    <img src="/image/camisa1_1.jpeg" alt="camisa blanca" width=80%>
                </div>
                <div class="imagenes-chicas">
                    <div>
                        <img src="/image/camisa1_1.jpeg" alt="camisa blanca" width=100%>
                    </div>
                    <div>
                        <img src="/image/camisa1_2.jpeg" alt="camisa natural">
                    </div>
                    <div>
                        <img src="/image/camisa1_3.jpeg" alt="camisa negra">
                    </div>
                    <div>
                        <img src="/image/camisa1_4.jpeg" alt="camisa suela">
                    </div>
                </div>
            </div>
            <div class="div-eleccion-producto">
                <form class="eleccion-producto">
                    <p>CAMISA SUIZA</p>
                    <p>$ 2.500</p>
                    <fieldset>
                        <legend>Elige un color</legend>
                        <label>
                            <input type="radio" name="color" value="Blanco">Blanco
                        </label>
                        <label>
                            <input type="radio" name="color" value="Natural">Natural
                        </label>
                        <label>
                            <input type="radio" name="color" value="Negro">Negro
                        </label>
                        <label>
                            <input type="radio" name="color" value="Suela">Suela
                        </label>
                    </fieldset>
                    <fieldset>
                        <legend>Elige un talle</legend>
                        <label>
                            <input type="radio" name="talle" value="1"> 1
                        </label>
                        <label>
                            <input type="radio" name="talle" value="2"> 2
                        </label>
                    </fieldset>
                    <div class="agregar-carrito">
                        <button type="submit" class="agregar-carrito">Agregar al carrito</button>
                    </div>
                </form>
            </div>
        </section>
        <section class="texto-descripcion">
            <div class="descripcion-del-producto">
                <h2>Descripción:</h2>
                <p>Camisa manga larga.<br>
                    Tela: Mezcla, 70% Rayón, 30% poliéster.
                </p>
            </div>
            <h2>Medidas:</h2>    
            <div class="medidas">
                <p class="medidas-producto">
                    TALLE 1:<br>
                    Ancho de hombros: 13.50 cm.<br>
                    Contorno de hombros: 84 cm.<br>
                    Contorno de pecho: 100 cm.<br>
                    Largo de manga: 64 cm.<br>
                    Largo de talle: 70 cm.<br>
                </p>
                <p class="medidas-producto">
                    TALLE 2:<br>
                    Ancho de hombros: 15.50 cm.<br>
                    Contorno de hombros: 88 cm.<br>
                    Contorno de pecho: 104 cm.<br>
                    Largo de manga: 66 cm.<br>
                    Largo de talle: 74 cm.<br>
                </p>     
            </div>
        </section>

    </main>