<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Tiare</title>
    
    <!--Material css-->
    <link rel="stylesheet" href="/styles/styleIndex.css">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;1,400&display=swap" rel="stylesheet">

    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/0cb7eac916.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <div class="cabeza-footer"></div>
        <!--imagen, logo de la empresa-->
        
            <div class="cajaNav">
                <a href="/"><img src="/image/logo-letra-negra.png" alt="Logo de Tiare" width="40%">
                </a>
            </div> 
            <!--barra de navegacion que enlaza a diferentes paginas-->
        <nav>
            <ul>
                <li>
                    <a href="/">INICIO</a>
                </li>
                <li>
                    <a href="#">
                    COLECCIÓN 
                    <i class="fas fa-arrow-down"></i>
                    </a>
                </li>
                <li>
                    <a href="#">NEW IN</a>
                </li>
                <li>    
                    <a href="#">
                        CONTACTO
                    </a>
                </li>
            
            
                <li>
                    <a href="">
                    <i class="fas fa-search"></i></a>
                
                </li>
                <li>
                    <a href="/productCart">
                    <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
                <li>
                    <a href="/login">
                    <i class="far fa-user"></i>
                    </a>
                </li>
            </ul>
        </nav>     
    
    </header>

<main class="carrito">

    <h2> Tu carrito de compras :</h2>
    <div  class="titulos-carrito">
    <p>PRODUCTO</p>
    <p>SUBTOTAL</p>
    </div>

    
    <div class="prendas">

        <img src="image/camisa1_1.jpeg" alt="prenda" class="camisaimagen"> 

        <P class="titulos-carrito"> CAMISA SUIZA <br> <br>
            COLOR: BLANCO <br> <br>
            TALLE: UNO, UNICO DISPONIBLE <br>
        </P>

        <p class="precio-carrito">
            $2.500 <i class="far fa-trash-alt"></i> <div class="icono-papelera"> 
        </p>
        
        </div>

            <form action="#" method="POST"></form>
        </div>
        <div class="cantidad">
            <label for="subtotal">CANTIDAD</label>
            <i class="fas fa-plus"></i><input type="number" name="cantidad" id="subtotal" class="barrita1" placeholder="  1">
        </div>

        <div class="subtotal-total">
            <p class="caja-subtotal-total">SUBTOTAL</p>
            <p class="caja-precio">$2500</p>
        </div>
        <div class="subtotal-total1">
            
            <P class="caja-subtotal-total">TOTAL</P>
            <p class="caja-precio">$2500</p> 
        </div>

        <div class="iniciar-compra">
            <p> INICIAR COMPRA </p>
        </div>
        <div class="mas-productos">
            <p> Ver más prdocutos</p>
        </div>

    </div>

    <img src="/image/tarjetasdecredito.jpg" alt="tarjetas" class="tarjetasdecredito">
    <img src="/image/mercadopago.jpg" alt="mercadopago" class="mercadopagologo">


</main>
<footer> 
    <div class="caja-footer">
    <section class="iconos-footer">
        
            <div class="ico-countain">
                <i class="fas fa-truck-moving"></i>
            </div>    
            <h4>ENVÍOS</h4> 
                    <p> Envios a todo el pais</p>
            
    </section>

    <section class="iconos-footer">

            <div class="ico-countain">
                <i class="fas fa-shopping-basket"></i>
            </div> 
                    <h4>COMPRA MÍNIMA</h4> 
                    <p> $3000</p>
            
    </section>

    <section class="iconos-footer"> 

            <div class="ico-countain">
                <i class="fas fa-book"></i>
            </div> 
                    <h4>CÓMO COMPRAR</h4> 
                    <p>Lee nuestras preguntas mas frecuentes</p>
            
    </section>

    <section class="iconos-footer"> 

            <div class="ico-countain">
                <i class="fas fa-exchange-alt"></i>
            </div>
                    <h4>CAMBIOS</h4> 
                    <p>Dentro de los 30 dias de tu COMPRA</p>
            
    </section>
</div>
<div class="caja-contactos-redes-preguntas">
    <section>
        <h2><a href="#">CONTACTOS</a> </h2>
        <p class="email"><a href="https://mail.google.com/mail/u/0/#inbox?compose=new">hola@tiare.com.ar </a></p>
        <p>0353-4813541</p>
    </section>
    <section>
    <h2 class="titulos-contactos-redes-preguntas">SEGUINOS</h2>
    
        <a href="https://www.facebook.com/"><img src="/image/facebook.png" alt="facebook" class="imagenes-redes-sociales"></a>
        <a href="https://www.instagram.com/?hl=es"><img src="/image/instagram.png" alt="instagram" class="imagenes-redes-sociales"></a>
        <a href="https://twitter.com/"><img src="/image/twitter.png" alt="twitter" class="imagenes-redes-sociales"></a>
    </section>
    <section>
        <h2><a href="/">INICIO</a></h2>
        <p>Preguntas frecuentes</p>
        <p>Políticas de devolucíon</p>
        <p><a href="#">Productos</a></p>
    </section>
</div>

<div class="cabeza-footer">
    <p class="derechos-reservados">Todos los derechos reservados, desarrollado por Grupo_2_Tiare</p>
</div>
</footer>
</body>
</html>
