@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    box-sizing: border-box;
}

/*BODY*/
body{
    background-color: #F7F7F7;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    font-size: 11px;
}
/*BODY*/
/*HEADER*/
header{
    background-color: #F7F7F7 ;
    margin-top: 8px;
}
.cabeza-footer{
    height: 15px;
    background-color: #9D766F;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0px;
    margin-top: 0px;
}
a{
    text-align: center;
    text-decoration: none;
    color:#5E5236;
    font-weight: bold;
    
}
.cajaNav{
    display:flex;
    justify-content: center;

}
