/* ---REFERENCIAS---
#9D766F    ROSA VIEJO FUERTE
#5E5236   MARRON
#F4EEE4 BEIGE CLARITO
 GRIS MUY LCARO
#D0AEA8 rosa fuerte
#D4C6C3;
#F7F7F7
#e8c5c58c rosa claro con transparencia
Typold Extended . Thin
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    box-sizing: border-box;
}

/*BODY*/
body{
    background-color:#e8c5c58c  ;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    font-size: 11px;
    color:#5E5236;
}
/*BODY*/
/*HEADER*/
header{
    background-color: #F7F7F7 ;
    margin-top: 8px;
}
.cabeza-footer{
    height: 15px;
    background-color: #9D766F;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0px;
    margin-top: 0px;
}
a{
    text-align: center;
    text-decoration: none;
    color:#5E5236;
    font-weight: bold;
    
}
.cajaNav{
    display:flex;
    justify-content: center;

}

/*HEADER*/
/*MAIN*/
.titulo-productos{
    text-align: center;
}
.secciones-articulos{
    display: flex;
    flex-direction: column;
}
article{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.articulos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    width: 45%;
    background:linear-gradient(to bottom,white 6%, #ebc6be) ;
    box-shadow: 1px -1px 10px 0px rgb(100 100 100);
}
.foto-producto{
    width: 100%;
}
.descripciones, .precios, .loQuiero{
    color: #5E5236;
    font-weight: bold;
    font-size: 15px;
    
}
.descripciones{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.loQuiero{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 8px;
    
    width: 59%;
    height: 46px;
}
.ver-mas{
    text-align: center;
    margin: 15px 30%;
    padding: 15px;
    background-color: #5E5236;
    color: #F7F7F7;
    border-radius: 5px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    
}



/*MAIN*/


/*BOTON DE WHATSAPP*/

.button-whatsapp{
    background-color: transparent;
    position: fixed;
    right: 11px;
    bottom: 50px;
    border: none;

}
.whatsapp{
    width: 50px;
}

/*BOTON DE WHATSAPP*/
/*FOOTER*/



/*FOOTER*/

/*LOGIN*/ 

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    
}

fieldset{
    background-color: #F4EEE4 ;
    color: #5E5236;
    border-color: #9D766F;
    border: 9px groove (internal value) ;
    border-radius: 7px;
}
legend{
    color: #5E5236;
    font-weight: bold;
}
#usuario, #clave{
    width: 100%;
    padding:8px;
    margin-top: 5px;
}
.usuario, .contraseña{
    font-size: 12px;
    padding-bottom: 8px;
}
.caja-recuerdame{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 5px ;
}
.recuerdame{
    display: flex;
    align-items: center;

}
.entrar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: #5E5236;
    color: #F7F7F7;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    padding: 10px;
}
.entrar:hover{
    background-color: #ebc6be;
    color: #5E5236;
}
/*LOGIN*/ 

/*REGISTER FORM*/
.register-form{
    padding: 25px 15px;
}
.datos-registro{
    margin-bottom: 10px;
}
.label-nombre{
    margin-top: 10px;
}
.datos-registro label{
    display:block;
    margin-bottom: 5px;
    font-size:larger;

}
.datos-registro input{
    width:100%;
    padding:8px;
}
.datos-registro #provincia{
    width:100%;
    padding:8px;  
}
#numero-puerta{
    width:25%;
    margin-top: 10px;
}
#codigo-postal{
    width:25%;
}
.acepto-newsletter{
    font-weight: bold;
    font-style: italic;
    font-size: larger;
}
.enviar{
    margin: 20px 0px;
    background-color: #5E5236;
    color: #F7F7F7;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    padding: 10px;
}

.enviar:hover{
    background-color: #ebc6be;
    color: #5E5236;
}
.enviar-registro{
    display: flex;
    justify-content: center;
}

/*REGISTER FORM*/

/*PRODUCT DETAIL*/
.imagen-producto-principal{
    text-align: center;
    margin-top: 40px;
}
.imagenes-chicas{
    display:flex; 
    width:80%;
    justify-content: space-between;
    margin:0 auto;
    margin-top: 10px;
}
.imagenes-chicas > div{
    width:20%;
}
.imagenes-chicas img{
    width:100%;
    justify-content: center;
}
.div-eleccion-producto{
    display: flex;
    justify-content: center;
}
.div-eleccion-producto p{
    margin-top: 0;
    font-weight: bold;
    font-size: 1.3em;
}

.eleccion-producto fieldset{
    font-size: 1.3em;
    margin: 20px 0;
    padding:10px;
}
.eleccion-producto fieldset label{
    white-space: nowrap;
}
div .eleccion-producto{
    width:85%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 14px;
}
.agregar-carrito button{
    margin: 20px 0px;
    background-color: #5E5236;
    color: #F7F7F7;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    font-size: 1.5em;
}
.agregar-carrito button:hover{
    background-color: #ebc6be;
    color:#5E5236;
}
.texto-descripcion {
    font-size: 1.6em;
    margin:1% 12.5%;
}

/*PRODUCT DETAIL*/

/*MEDIASQUERIS/*/
/* @media(min-width:361px){
    a{
        display: none;
    }
} */
@media (min-width:768px){
    .register-form{
        display:flex;
        justify-content: center;
        font-size: 12px;
    }
    .register-form fieldset{
        width:75%;
    }
    .imagenes-y-eleccion{
        display: flex;
    }
    .imagenes-producto{
        width:50%;
    }
    .div-eleccion-producto{
        width: 50%;
        align-items: flex-start;
        margin-top: 29px;
        font-size: larger;
    }
    .descripcion-del-producto{
        font-size: 15px;
    }
    .imagen-producto-principal h2{
        display:none
    }
    div .eleccion-producto{
        font-size: 20px;
    }
    .texto-descripcion {
        margin: 4px 60px;
        font-size: 2em;
    }
    .medidas-producto{
        margin-top: 0;
        padding-right: 40px;
    }
    .medidas{
        display:flex;
        padding: 5px;
    }
}
/*MEDIASQUERIS/*/
